body{
	background-image:url(back10.jpg);
	background-size:100%;
	
	color:black;


}
img{
	margin-left:400;
	height:750;
	width:500;
	border:7px solid black;
}
.glory{
	text-align:center;
	font-weight:500;
	font-size:100;
	
}
.ama1{
	text-align:center;
	font-weight:800;
	font-size:20;
	margin-top:-60;
	margin-left:60;
	margin-right:60;

}
.glory1{
	text-align:center;
	font-size:60;

}
.ama2{
	margin-left:62;
	font-size:20;
	font-weight:700;
}
div{
	background-color:black;
	color:white;
}
